.hero-sec {
  margin: 200px;
  display: flex;
}

.main-heading {
  font-size: clamp(2rem, 4.5vw, 4.5rem);
  color: #1b232e;
  margin-bottom: 20px;
  line-height: 1.2;
}

.hero-sec-text {
  font-size: clamp(1rem, 1.5vw, 1.125rem);
  line-height: 1.5;
  margin-bottom: 1em;
}

.Hero-sec-button {
  padding: 15px 18px;
  background-color: #2065d5;
  color: white;
  border-radius: 10px;
  font-size: 1.125rem;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  transition: background-color 0.5s ease, transform 0.5s ease;
}

.Hero-sec-button:hover {
  background-color: #6d7782;
  transform: scale(1.05);
}

.Hero-sec-buttons {
  margin-top: 50px;
}

.Hero-sec-imgs img {
  width: 100%;
  max-width: 1500px;
  margin-bottom: 10px;
}
